
process {
    conda = "${baseDir}/conda_environments/ska.yml"
}

profiles {
    standard {
        includeConfig 'base.config'
        conda.enabled = true
        executor {
            name = 'slurm'
            queueSize = 200
            pollInterval = '10 sec'
            queueStatInterval = '10m'
        }
        process {
            withLabel: small_resource_req {
                cpus = 2
                memory = 4.GB
            }
            withLabel: medium_resource_req {
                cpus = 2
                memory = 16.GB
            }
            withLabel: big_resource_req {
                cpus = { 4 * task.attempt }
                memory = { 32.GB * task.attempt }
                time = '2 days'
            }
            executor = 'slurm'
            stageInMode = 'symlink'
            errorStrategy = 'retry'
            maxRetries = 3
            cache = 'lenient'
            clusterOptions = {
                qos = task.time <= 30.minutes ? 'shortq' : 'normal'
                partition = task.time <= 30.minutes ? 'short,comp' : 'comp'
                return "--qos=${qos} --partition=${partition}"
            }
        }
    }
    local {
        process.executor = 'local'
        includeConfig 'base.config'
        conda.enabled = true
    }
}